<?xml version="1.0"?>
<launch>
  <node name="HoleVisualizer" pkg="transparent_object_reconstruction" type="HoleVisualizer" output="screen"/>
  <node name="HoleIntersector" pkg="transparent_object_reconstruction" type="HoleIntersector" output="screen"/>
  <node name="PartialIntersectionReconstruction" pkg="transparent_object_reconstruction" type="ExTraReconstructedObject" output="screen">
  </node>
</launch>
